.box-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
}

.box-content {
    text-align: left;
}

.numtxt {
    flex: 1;
	color: #4eac56 !important;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: inherit;
	font-size: 24px;
	font-weight: bold;
    text-transform: uppercase;
}

.label {
	color: #9b9898;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: inherit;
	font-size: 12px;
    text-transform: uppercase;
}